{
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "jquery": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "React": true,
    "fetch": false
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "extends": "eslint:recommended",
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-console": "off",
    "no-unused-vars": 1,
    "no-undef": 1,
    "no-var": 1,
    "indent": [
      "error",
      2,
      {
        "VariableDeclarator": {
          "var": 2,
          "let": 2,
          "const": 3
        }
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}
